body, .no-stays{
    font-family: 'Montserrat', sans-serif;
}

header{
    font-family: 'Mulish', sans-serif;

    display: flex;
}

@media(min-width: 940px) {
    header{
        justify-content: space-between;
    }

    #stays-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .stay-card{
        width: 30%;
        margin: 8px 0;

    }
}

@media(min-width: 601px) and (max-width: 940px){
    header{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .search-form{
        align-self: center;
        margin: 25px;
        width: 50%;
    }

    main{
        width: 80%;
        margin: 0 auto;
    }

    .stay-card{
        margin: 40px 0;
    }
}

@media(max-width: 600px){
    header{
        flex-direction: column;
    }

    .search-form{
        align-self: center;
        margin: 25px;
    }

    #stays-container{
        display: flex;
        flex-direction: column;
    }

    .stay-card{
        margin: 15px 0;
    }
}

header, main{
    padding: 25px;
}

.search-form{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px 5px;

    border: solid 1px #f2f2f2 ;
    border-radius: 10px;
}

.form-guests{
    width: 30%;
}

.label, .btn-text{
    display: none;
}

.guests-input{
    border: none;
}

#location-select{
    background-color: #FFF;
}

.location-option{
    color: #333333;
    font-weight: 400;
    position: relative;
}

.guests-input{
    width: 90%;
}

.guests-input::placeholder{
    color: #BDBDBD;
}

#search-btn{
    background-color: #fff;

    border: none;

    display: flex;
    align-items: center;
}

#search-btn svg{
    fill: #EB5757;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.main-title{
    font-size: 24px;
    font-weight: 700;

    color: #333;

    margin-bottom: 8px;
}

.stay-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;

    margin: 5px 0;
}

.superhost{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;

    border: 2px solid #4f4f4f;
    border-radius: 40px;

    padding: 8px;

    color: #4f4f4f;
}

.stay-type{
    color: #828282;
}

.stay-rating{
    display: flex;
    align-items: center;
}

.stay-rating svg{
    fill: #EB5757;
}

.stay-title{
    font-size: 16px;
    font-weight: 600;
}

img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.no-stays{
    font-size: 18px;
    margin-top: 25px;
}